doctype html

head
    title WebControl
    
    meta(name="theme-color", content="#FFFFFF")
    meta(charset='utf-8')
    
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/css/font-awesome.min.css')
    link(rel='stylesheet', href='/css/awesome-bootstrap-checkbox.css')
    link(rel='stylesheet', href='/css/style.css')
    
    script(src="/js/jquery-2.2.0.min.js")
    script(src="/js/bootstrap.min.js")
    
    block head_content

body(style="margin-left: 20px")
    block body_content
