extends layout

block head_content
    script(src="http://code.jquery.com/jquery-2.1.4.min.js")
    
block body_content
    div(class='panel panel-default', style='padding: 10px; font-size: large')
        a(href="/")
            label(type="button", class="btn btn-default", style="margin-left: 10px") Home
    hr
    img(id='screenImg', src='/screen/#{screenIndex}')
    br
    input(id='inputText')
    script().
        window.onload = function() {
            var screenImgElement = document.getElementById('screenImg');
            var imgSrc = screenImgElement.src;
            var inputTextElement = document.getElementById('inputText');
            screenImgElement.addEventListener("mousedown", onMouse, false);
            screenImgElement.oncontextmenu = function() { return false; };
            inputTextElement.onkeydown = onKey;
            
            setInterval(function() {
                screenImgElement.src = imgSrc+"?" + new Date().getTime();
            }, 1000);
        }
        
        function getPosition(element) {
            var xPosition = 0;
            var yPosition = 0;
            while (element) {
                xPosition += (element.offsetLeft - element.scrollLeft + element.clientLeft);
                yPosition += (element.offsetTop - element.scrollTop + element.clientTop);
                element = element.offsetParent;
            }
            return { x: xPosition, y: yPosition };
        }
        function onMouse(e) {
            console.log('onMouse');
            var parentPosition = getPosition(e.currentTarget);
            var xPosition = e.clientX - parentPosition.x;
            var yPosition = e.clientY - parentPosition.y;
            MouseClick(xPosition, yPosition, e.buttons == 1, e.buttons == 2);
        }
        function onKey(e) {
            var keyReplace = [
                ['Backspace','{BACKSPACE}'],
                ['Break','{BREAK}'],
                ['CapsLock','{CAPSLOCK}'],
                ['Delete','{DELETE}'],
                ['ArrowDown','{DOWN}'],
                ['End','{END}'],
                ['Enter','{ENTER}'],
                ['Escape','{ESCAPE}'],
                ['Help','{Help}'],
                ['Home','{HOME}'],
                ['Insert','{INSERT}'],
                ['ArrowLeft','{LEFT}'],
                ['NumLock','{NUMLOCK}'],
                ['PageUp','{PGUP}'],
                ['PageDown','{PGDN}'],
                ['PrintScreen','{PRTSC}'],
                ['ArrowRight','{RIGHT}'],
                ['ScrollLock','{SCROLLLOCK}'],
                ['Tab','{TAB}'],
                ['ArrowUp','{UP}'],
                ['F1','{F1}'],
                ['F2','{F2}'],
                ['F3','{F3}'],
                ['F4','{F4}'],
                ['F5','{F5}'],
                ['F6','{F6}'],
                ['F7','{F7}'],
                ['F8','{F8}'],
                ['F9','{F9}'],
                ['F10','{F10}'],
                ['F11','{F11}'],
                ['F12','{F12}'],
                ['F13','{F13}'],
                ['F14','{F14}'],
                ['F15','{F15}'],
                ['F16','{F16}'],
                ['+','{ADD}'],
                ['-','{SUBTRACT}'],
                ['*','{MULTIPLY}'],
                ['/','{DIVIDE}'],
                ['{SHIFT}','{SHIFT}'],
                ['Control','{CTRL}'],
                ['Alt','{ALT}']
            ];
            
            //e.preventDefault();
            
            var key = e.key;
            keyReplace.forEach(function(x) {
                key = key.replace(x[0], x[1]);
            });
            
            //console.log(key);
            //KeyDown(key);
        }
        function KeyDown(key) {
            var qUrl = "/control";
            $.ajax({
                url: qUrl,
                data: {
                    isKeyboard: 'True',
                    key: key
                },
                type: "post",
                success: function() {}
            });
        }
        function MouseClick(x, y, left, right) {
            var qUrl = "/control";
            var qdata = {
                isMouse: "True",
                mouseX: x,
                mouseY: y
            };
            if(left) qdata.mouseLeftButton = 'True';
            if(right) qdata.mouseRightButton = 'True';
            $.ajax({
                url: qUrl,
                data: qdata,
                type: "post",
                success: function() {
                    console.log('onMouse3');}
            });
        }
